[Unit]
Description=Automatic PPT Startup Script
After=multi-user.target

[Service]
Type=simple
Environment=DISPLAY=:0
ExecStartPre=/usr/bin/xhost +SI:localuser:pi
ExecStart=/home/dietpi/bosmuseum_onthaal/projecten/automatisch_ppt/startup_scripts/automatic_ppt.sh
User=pi

[Install]
WantedBy=multi-user.target
