[Unit]
Description=Button Monitor Reload PPT Service
After=multi_user.target

[Service]
ExecStart=python3 /home/dietpi/bosmuseum_onthaal/projecten/automatisch_ppt/monitor_button.py
Restart=always
User=dietpi  # Run as the dietpi user (or adjust as needed)

[Install]
WantedBy=multi-user.target
